<h1>Tweet#New</h1>
<div>
  <%= form_for [current_user, @new_tweet] do |f| %>
    <%= f.text_field :tweet %>
    <%= f.submit %>
  <% end %>
</div>

<h1>Tweets#List</h1>
<div>
  <% @tweets.each do |tweet| %>
    <%= render 'shared/tweet', tweet: tweet, user: tweet.user %>
  <% end %>
</div>
